.displayMusic-container {
    text-align:center;
    width: 50% ;
    color:floralwhite;
}

.music-table, th, td {
    border: 1px solid;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    
}






